/*
 * @import url(//fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(//fonts.googleapis.com/css?family=Satisfy);
*/
/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
	background: #edf3f3 url(../images/bg.png) repeat;
	font: 12px 'Roboto Slab', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.428571429;
	color: #535b60;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -106px;
  /* Pad bottom by footer height */
  padding: 0 0 106px;
}

/* Common 
-------------------------------------------------- */
h2 {
	color: #121b21;
	font: 900 24px/23px 'Roboto';
	margin: 0 0 24px 0;
	text-transform: uppercase;
	letter-spacing: -1px;
}
h3 {
	color: #ffffff;
	font: 900 18px 'Roboto';
	margin: 0 0 57px 0;
	text-transform: uppercase;
	width: 100%;
}
h3 span {
	background: #191a1a;
	padding: 8px 85px;
	display: inline-block;
}
h4 {
	color: #535b60;
	font: 900 18px/23px 'Roboto';
	margin: 0 0 13px 0;
	text-transform: uppercase;
}
h5 {
	color: #121b21;
	font: 24px/30px 'Roboto';
	font-weight: 900 !important;
	margin: 0 0 19px 0;
	text-transform: uppercase;
}
h6 {
	font: 900 24px 'Roboto';
	color: #ffc819;
	margin: 0;
	margin-bottom: 31px;
}



/* Header
-------------------------------------------------- */
#header {}

/* Top Nav 
-------------------------------------------------- */
#topnav .navbar-brand {
	background: url(../images/logo.png) no-repeat;
	display:block;
	width: 312px;
	height:102px;
	text-indent:-9999px;
}
#topnav {
	padding: 0;
	background: #121b21;
	border-bottom: 4px solid #2c3439;
	height: 77px;
}
#topnav.shadow {
    box-shadow: 0 2px 10px #686868;
}
#topnav .navbar-nav>li>a {
	padding-top: 27px;
	padding-bottom: 26px;	
}
#topnav .navbar-nav>li>a:hover {
	background-color: #080808;
	color: #fff;
	border-bottom: 4px solid #8599AC;
}
#topnav .navbar-nav>li.open>a {
	background-color: #080808;
	color: #fff;
	border-bottom: 4px solid #8599AC;
}
#topnav #login-form {
    margin-top:12px;
}
#topnav .user-dropdown a {
    max-width:170px;
}
#topnav .user-dropdown > a {
    padding-left:60px;
}

#topnav .avatar {
    position:absolute;
    margin-top:-10px;
    margin-left:-50px;
}

#topnav .dropdown-form {
    width: 210px;
    padding: 10px 15px;
}
#topnav .dropdown-form .form-control {
    margin-bottom:10px;
}
/* Login Form */
.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Body
----------------------------------------------------*/
.container {
	width:1000px;
}
#wrap {
    /* background:#FFF; */
}
#wrap .container {
    padding-top:102px;
}
#wrap #map-canvas {
    
}
/* Panel */
.panel-group#profile_form .panel {
    overflow: initial;
}
.panel {
    border-bottom: 2px solid #ddd;
}
.panel .panel {
    border-bottom: 1px solid #DDD;
}
.panel-danger {
    border-bottom-color: #ebccd1;
}
.panel-primary {
    border-bottom-color: #428bca;
}
.panel-success {
    border-bottom-color: #d6e9c6;
}


/* Scrolled panel body */
.scrolled.panel-body {
    max-height:400px;
    overflow-y: scroll;
}
.scrolled.panel-body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrolled.panel-body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scrolled.panel-body::-webkit-scrollbar-thumb
{
	background-color: #357ebd;
	border-radius: 10px;
}
/* Thumbnails */
.thumbnail h3 {
    color:#000;
    margin-bottom:10px;
}

/* Footer */
#footer {
    background-color: #edf3f3;
    padding-top: 21px;
    padding-bottom: 21px;
    border-top: 4px solid #d5dada;
}
/* Footer Widgets */
#footer #footer-widgets .widget {
    border-right: 1px solid #979797;
    min-height: 180px;
}
#footer #footer-widgets ul.links {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
#footer #footer-widgets ul.links li {
    font-size: 12px;
    line-height: 1.428571429;
    overflow: hidden;
    margin-bottom: 7px;
}
#footer #footer-widgets ul.links li a {
    color: #757c80;
    font: 11px 'Roboto';
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/* Bottom Links */
#footer #bottom-links {
    margin-top:20px;
    padding-top:10px;
    border-top: 3px solid #535b60;
}
#footer #bottom-links .left ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer #bottom-links .left ul li 
{
    display: inline-block;
    padding: 0 10px;
}

#footer #bottom-links .left ul li a:hover {
    color: #2d88a6;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
#footer #bottom-links .left ul li a {
    font: 11px 'Roboto';
    color: #757c80;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#video_wrapper {
	margin-bottom: 10px;
}
#comment_wrapper {
	margin-top: 15px;
	background-color:#FFF;
	padding:10px 20px;
	margin-bottom: 15px;
}

.btn-facebook {
	background-color:#3b5998;
	color:#FFF;
}
.btn-facebook:hover {
	background-color:#8b9dc3;
}
.btn-twitter {
	background-color: #0084b4;
	color:#FFF;
}
.btn-twitter:hover {
	background-color: #37A2C9;
}
.btn-google {
	background-color: #d34836;
	color:#FFF;
}
.btn-google:hover {
	background-color: #DD7669;
	
}

/* Social Likes */
#social-likes {
	height:auto;
	position:absolute;
	margin-left:-90px;
	margin-top:50px;
	background-color: #FFF;
	padding:5px 0;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
#social-likes .social {
	padding:5px 10px;
	margin:0 auto;
	display:block;
}
/************************************************************************
*
*            Responsive 
*
*
*************************************************************************/

@media (max-width: 767px) { /* Extra-Small col-xs-* */
   #topnav .navbar-toggle {
    margin-top: 20px;
    }
    #topnav  .navbar-collapse {
        background: #121b21;
        margin-top:15px;
        min-width: 400px;
        right: 0;
        float: right;
    }
    #topnav .navbar-nav>li>a {
	    border-bottom: 4px solid #121b21;
	    padding-top: 10px;
	    padding-bottom: 10px;	
    }
    #topnav .navbar-brand {
        position: absolute;
        z-index: 9999;
    }
    #topnav #login-form .form-control {
        margin-bottom:5px;
    }

}

@media (min-width: 768px) and (max-width: 991px) { /* Small col-sm-* */
   
}

@media (min-width: 992px) and (max-width: 1199px) { /* Medium col-mg-* */
    .navbar-form .form-control {
        width:110px;
   }
}

@media (min-width: 1200px) { /* Large col-lg-* */
    
}

